@import './../../../../mixins.scss';

.footer {
  padding: 20px 0px;
  &__body {
    display: flex;
    font-size: rem(20);
    line-height: 1.4;
    font-weight: 600;
    justify-content: space-between;
    @media (max-width: em(600)) {
      display: grid;
      grid-template-columns: repeat(2, 100px);
      grid-template-rows: repeat(2, 33px);
      justify-content: center;
      align-items: center;
      text-align: end;
    }
    & a {
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $accentColor;
        }
      }
    }
  }
  &__item {
    @media (min-width: em(600)) {
      &:last-child {
        grid-row: 1;
        grid-column: 1 / 3;
      }
      &:first-child {
        grid-column: 1 / 2;
        grid-row: 2;
      }
      &:second-child {
        grid-column: 2 / 3;
        grid-row: 2;
      }
    }
  }
  &__list {
    margin-left: auto;
    display: flex;
    column-gap: 10px;
  }
  &__logo {
    height: 50px;
    display: block;
    background-image: url('../../../../assets/footer/rs_school.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 28px;
    width: 80px;
    transition-duration: 0.7s;
    &:hover {
      filter: invert(46%) sepia(48%) saturate(943%) hue-rotate(305deg)
        brightness(98%) contrast(88%);
    }
  }
}
