@import './../../../mixins.scss';

.sign-in, .sign-up {
  padding: 90px 0px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(97, 152, 255);
  .sign-in &__container,
  .sign-up &__container{
    max-width: 400px;
    width: 100%;
  }
  &__body{
    padding: 30px 15px;
    border-radius: 15px;
    background-color: #fff;
  }
  &__title{
    text-align: center;
    font-size: rem(24);
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: em(1.5);
  }
  &__form{
    & input {
      outline: none;
      width: 100%;
      padding: 15px 5px 15px 15px;
      font-size: rem(20);
      border: 2px solid rgba(0,26,51,.2);
      border-radius: 10px;
      box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
      transition: all 0.3s ease 0s;
      &:focus {
        border: 2px solid $btnBgColor;
         .sign-up__label{
          color: red;
        }
      }
    }
    input:-webkit-autofill {
      -webkit-box-shadow:0 0 0 50px white inset; 
      -webkit-text-fill-color: #333;
  }
  }
  &__input-body{
    position: relative;
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
  &__label{
    font-weight: 600;
    font-size: rem(18); 
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 10px;
    padding: 5px;
    background-color: #fff;
    color: $greyColor;
  }
  &__error{
    position: absolute;
    bottom: -5px;
    right: 0;
    transform: translateY(100%);
    font-size: rem(14);
    color: red;
  }

  &__error-submit {
    text-align: center;
    color: red;
    position: relative;
    top: -10px;
  }
  &__login{

  }
  &__password{

  }
  &__question{
    text-align: center;
    margin-bottom: 15px;
    & a {
      margin-left: 5px;
      color: $btnBgColor;
      @media (any-hover: hover){
        &:hover{
          text-decoration: underline;
        }
      }
    }

  }
  &__button.main-page-btn{
    width: 100%;
    border: none;
  }
}
