@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic");
@import './mixins.scss';
* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   font-family: "Open Sans";
   background-color: #fff;
   &._lock{
      overflow-y: hidden;
   }
}

body {
   line-height: 1;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
   font-size: inherit;
}

button {
   cursor: pointer;
   color: inherit;
   background-color: inherit;
}

a {
   color: inherit;
}

a:link,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

[class*="__container"] {
   box-sizing: content-box;
   margin: 0 auto;
   max-width: 1420px;
   padding: 0 15px;
}

.wrapper {
  flex: 1 1;
   min-height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.App {
  flex: 1 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;

}
.wrapper > main {
   flex: 1 1 auto;
}

.main-page-btn {
  display: inline-block;
  font-size: rem(20);
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 3px solid #fff;
  background-color: $btnBgColor;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 0 0px $btnBgColor;
  animation-duration: .7s;
  transition: all 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      animation-name: animation-main-btn;
    }
  }
  &:active{
    transform: scale(.95);
  }
}

@keyframes animation-main-btn {
  0%{
    box-shadow: 0 0 0 0px $btnBgColor;
  }
  100%{
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0);
  }
}