$logoBlueColor: rgb(51, 51, 204);
$greyColor: rgb(95, 95, 95);
$btnBgColor: rgb(0, 82, 255);
$headerScrollColor: rgb(190, 218, 254);
$primaryBlackColor: #0a0b0d;
$lightDarkColor: #5b616e;
$lightGreyColor: #f5f5f5;
$whiteColor: #ffffff;
$blackColor: #000000;
$pinkColor: #dd4286;
$lightGreenColor: #2cde98;
$redColor: #ff0000;
$greenColor: #008000;
$signPagesBackground: #6198ff;
$accentColor: #eb5b72;
$headerColor: #e1eeff;
$lightPink: rgba(238, 174, 202, 1);
$lightBlue: rgba(148, 187, 233, 1);

@function rem($px) {
  $result: calc($px/ 16) + rem;
  @return $result;
}

@function em($px, $current: 16) {
  $result: calc($px/ $current) + em;
  @return $result;
}

@function adaptivSize(
  $maxWidth,
  $minWidth,
  $maxSizeContainer,
  $minSizeContainer
) {
  $result: calc(
    #{$minWidth}px + (#{$maxWidth} - #{$minWidth}) *
      (
        (100vw - #{$minSizeContainer}px) /
          (#{$maxSizeContainer} - #{$minSizeContainer})
      )
  );
  @return $result;
}
