@import '../../../mixins.scss';
.board-item {
  background-color: #9EC6F9;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #c1c9cf;
  width: 250px;
  height: 150px;
  margin: 10px 0;
  cursor: pointer;
  &:last-child {
    background-color: #EBF2F8;
  }
  .board-item__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .board-item__title {
      text-align: center;
      padding: 10px;
      color: $btnBgColor;
      font-weight: 600;
    }
    .board-item__description {
      color: $greyColor;
    }
    .bord-item__icons {
      display: flex;
    flex-direction: row;
    }
  }
  .column__icon_pen {
    background-image: url('../../../assets/board-page/pen.svg');
  }
  
  .column__icon_bin {
    background-image: url('../../../assets/board-page/bin.svg');
  }
}