@import '../../../mixins.scss';

.delete-board__btn-wrapper {
  display: flex;
  justify-content: center;
  .btn-yes {
    max-width: 300px;
    width: 100%;
    margin: 10px;
  }
  .btn-no {
    margin: 10px;
    background-color: $pinkColor;
  }
}

.btn_save {
  max-width: 300px;
  width: 100%;
}
