@import '../../../../mixins.scss';

.column {
  max-width: 300px;
  min-width: 300px;
  margin: 0 auto;
  height: auto;
  &__inner {
    background-color: $logoBlueColor;
    border-radius: 5px;
    padding: 10px;
  }
  @media (max-width: em(375)) {
    max-width: 270px;
    min-width: 270px;
  }
}

.column__body {
  max-height: 53vh;
  overflow-y: auto;
  @media (max-width: em(1600)) {
    max-height: 43vh;
  }
  @media (max-width: em(680)) {
    max-height: 36vh;
  }
  @media (max-width: em(480)) {
    max-height: 30vh;
  }
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.column__info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px;
}

.column__btn {
  padding: 10px;
  display: flex;
  justify-content: center;
  &_confirm {
    max-width: 300px;
    width: 100%;
  }
  &-wrapper {
    display: flex;
    justify-content: center;
  }
}

.column__body {
  min-height: 1px;
}
