@import '../../../../../mixins.scss';

.task__users-list {
  position: absolute;
  z-index: 1;
  bottom: -5px;
  left: 40px;
  max-height: 200px;
  min-width: 200px;
  overflow-y: auto;
  background-color: $headerScrollColor;
  border-radius: 5px;
  font-family: 'Noto Serif', serif;
  transition: all 0.3s ease 0s;
}

.task__users-item {
  cursor: pointer;
  padding: 3px 10px;
  &:hover {
    background-color: rgba(246, 237, 237, 0.944);
    color: $greyColor;
  }
}
