@import './mixins.scss';

.btn-container {
  margin: 20px auto 0;
  display: flex; 
  justify-content: center;
  & button {
    &:not(:last-child){
      margin-right: 15px;
    }
  }
}

.btn-container__btn {
  min-width: 120px;
}


.main-page-btn-accent.create-board-btn.btn-container__btn{
  width: fit-content;
}