@import '../../../../mixins.scss';

.task {
  background-color: $whiteColor;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-height: rem(150);
  overflow-y: scroll;
}

.task__panel {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.task__icon {
  width: rem(20);
  height: rem(20);
  background-size: contain;
  background-repeat: no-repeat;
  align-self: baseline;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
  }
}

.task__icons {
  display: flex;
  gap: 5px;
  padding-top: 3px;
}

.task__icon_edit {
  background-image: url('../../../../assets/board-page/edit.svg');
}

.task__icon_bin {
  background-image: url('../../../../assets/board-page/bin.svg');
}

.task__title {
  font-family: 'Noto Serif', serif;
  font-size: rem(20);
  font-weight: 700;
  line-height: 1.3;
  color: $primaryBlackColor;
  text-transform: uppercase;
}

.task__description {
  font-family: 'Noto Serif', serif;
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.3;
  color: $lightDarkColor;
  &::first-letter {
    text-transform: capitalize;
  }
}
